
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

$principal: #606674;
$preto: #444;
$branco: #fff;
$fundo: #e8e8e8;
$cor-btn: #102f5e;

$borda: 0.1rem solid $principal;

body{
    background-image: url(../img/fundo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

button{
    background: $fundo;
    color: $cor-btn;
    border: $borda;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;

    &:hover{
        background: $cor-btn;
        color: $branco;
    }

    i{
        pointer-events: none;
    }
}

input, 
select{
    padding: .25rem .5rem;
}

.hide{
    display: none;
}


.todo-container{
    max-width: 450px;
    margin: 3rem auto;
    padding: 1.5rem;
    background: $fundo;
    border-radius: 1rem;

    header{
        text-align: center;
        padding: 0 1rem 1rem;
        border-bottom: $borda;
    }

    #todo-form, 
    #edit-form{
        padding: 1rem;
        border-bottom: $borda;

        p{
            margin-bottom: .5rem;
            font-weight: 600;
        }

        .form-controle{
            display: flex;

            input{
                margin-right: .2rem;
            }
        }

        #cancel-edit-btn{
            margin-top: 1rem;
        }
    }

    #toolbar{
        padding: 1rem;
        border-bottom: $borda;
        display: flex;

        #search{

            h4{
                margin-bottom: .5rem;
            }

            border-right: $borda;
            padding-right: 1rem;
            margin-right: 1rem;
            width: 65%;
            display: flex;
            flex-direction: column;

            form{
                display: flex;
            }

            input{
                width: 100%;
                margin-right: .3rem;
            }
        }

        #filter{

            h4{
                margin-bottom: .5rem;
            }

            width: 35%;
            display: flex;
            flex-direction: column;

            // select{
            //     flex: 1;
            // }
        }
    }

    #todo-list{
        .todo{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 1rem;
            border-bottom: $borda;
            transition: .3s;

            h3{
                flex: 1;
                font-size: .9rem;
            }

            button{
                margin-left: .4rem;
            }
        }

        .done{
            background: #395169;

            h3{
                color: $branco;
                text-decoration: line-through;
                font-style: italic;
            }
        }
    }
}